---
# S&P 500 Stock Analysis: Is Technology the Right Investment for the Future?

---
# Introduction

The S&P 500 stock market index, maintained by S&P Dow Jones Indices, comprises 505 common stocks issued by 500 large-cap companies and traded on American exchanges, and covers about 80 percent of the American equity marekt by capitalization, i.e. S&P 500 is a stock market index that measures the stock performance of 500 large companies listed on stock exchanges in the United States. It is one of the most commonly followed equity indices, and many consider it to be one of the best representations of the U.S. stock market. The S&P 500 component stocks cover eleven (11) market sectors and a total of 128 sub industries. 

The objective of this project is to perform the U.S equity market/stocks analysis through the new technology: data science concepts, knowledge, and tools. The data analysis and calculation are based on Python software with modules: NumPy & Pandas, and matplotlib & seaborn libraries.

This project consists of 6 parts.

**feel free to modify**

* Part 1 - S&P 500 stocks historical data collection and cleaning
* Part 2 - Descriptive statistic analysis for S&P 500 stocks
* Part 3 - Data analysis under stock/industry level
* Part 4 - Coronavirus effect on S&P 500 stock prices
* Part 5 - Stock price forecasting and prediction
* Part 6 - Conclusion

Each part is provided in a separate file. It is recommended to follow the order of the files.

---
# Part 1: S&P 500 Stocks Historical Data Collection and Cleaning

#### Task 1:

Import raw data;

Identify missing values, anomalies and outliers (Data cleaning);

Merge datasets and resolve mismatches;

---

In [1]:
# Import and merge datasets

import pandas as pd

sp500 = pd.read_csv("https://raw.githubusercontent.com/ProjectTeam4/ProjectTeam4.github.io/master/stock%20data.csv")
stockReference = pd.read_csv("https://raw.githubusercontent.com/ProjectTeam4/ProjectTeam4.github.io/master/companies.csv")

fullDataset = pd.merge(sp500, stockReference, how="left", left_on='Name', right_on='ticker')
fullDataset = fullDataset[['date', 'close', 'Name', 'ticker', 'company name', 'sector']]
fullDataset.head()

         date  close Name ticker                  company name       sector
0  08-02-2013  14.75  AAL    AAL  American Airlines Group Inc.  Industrials
1  11-02-2013  14.46  AAL    AAL  American Airlines Group Inc.  Industrials
2  12-02-2013  14.27  AAL    AAL  American Airlines Group Inc.  Industrials
3  13-02-2013  14.66  AAL    AAL  American Airlines Group Inc.  Industrials
4  14-02-2013  13.99  AAL    AAL  American Airlines Group Inc.  Industrials

In [2]:
# Identify Mismatches
# Noticed that 21 stocks could not match to available reference information

unmatchedData = fullDataset[fullDataset["ticker"].isnull()]
print(unmatchedData.Name.unique())
print(unmatchedData.date.unique())

['AET' 'ANDV' 'CA' 'CBG' 'COL' 'CSRA' 'DPS' 'ESRX' 'EVHC' 'GGP' 'HCN'
 'KORS' 'LUK' 'MON' 'PCLN' 'PX' 'SCG' 'SNI' 'TWX' 'WYN' 'XL']
['08-02-2013' '11-02-2013' '12-02-2013' ... '05-02-2018' '06-02-2018'
 '07-02-2018']

In [8]:
# Resolve mismatch issue
# Manually looked up "Names" and appended to stock reference file

stockReference_v2 = pd.read_csv("https://raw.githubusercontent.com/ProjectTeam4/ProjectTeam4.github.io/master/companies_updated.csv")

fullDataset_v2 = pd.merge(sp500, stockReference_v2, how="left", left_on='Name', right_on='ticker')
fullDataset_v2 = fullDataset_v2[['date', 'close', 'Name', 'ticker', 'company name', 'sector']]

unmatchedData_v2 = fullDataset_v2[fullDataset_v2["ticker"].isnull()]
print(unmatchedData_v2.Name.unique())
print(unmatchedData_v2.date.unique())

[]
[]

In [9]:
# Identify Inconsistencies
# Noticed that the list of stocks were captured based on date of data pull and does not populate historical information for
# stocks that fell out of SP500 between the start date to last date

countByDate = fullDataset_v2.groupby('date').count()
countByDate.sort_values(by=['sector'], ascending=True)

            close  Name  ticker  company name  sector
date
26-04-2013    472   472     472           472     472
22-04-2013    476   476     476           476     476
02-05-2013    476   476     476           476     476
15-04-2013    476   476     476           476     476
04-03-2013    476   476     476           476     476
...           ...   ...     ...           ...     ...
11-01-2018    505   505     505           505     505
29-01-2018    505   505     505           505     505
05-12-2017    505   505     505           505     505
20-12-2017    505   505     505           505     505
22-12-2017    505   505     505           505     505

[1259 rows x 5 columns]

In [10]:
# Resolve inconsistency issue

In [11]:
# Compile final dataset for analysis

cleanDataset = fullDataset_v2[['date', 'close', 'ticker', 'company name', 'sector']]
cleanDataset.head()

         date  close ticker                  company name       sector
0  08-02-2013  14.75    AAL  American Airlines Group Inc.  Industrials
1  11-02-2013  14.46    AAL  American Airlines Group Inc.  Industrials
2  12-02-2013  14.27    AAL  American Airlines Group Inc.  Industrials
3  13-02-2013  14.66    AAL  American Airlines Group Inc.  Industrials
4  14-02-2013  13.99    AAL  American Airlines Group Inc.  Industrials

#### Conclusion:

We found issues with data we have gathered. We filled in the gaps where we can and left data as is for things we cannot change 
with current resources

---
# Part 2 - Descriptive Statistic Analysis for S&P 500 Stocks

#### Task 2:

Perform descriptive analysis;

first question: how has the composition of stocks by industry changed over time?

Calculate and graph stock composition by industry over time;

### To be Filled:

* **Comments:**

* **Codes:**

* **Conclusion:**

In [18]:
# grouping data by industry
fullDataset_grouped = fullDataset.groupby('industry')

---
# Part 3 - Data Analysis under Stock/Industry Level

#### Task 3: 

Second question: What are the daily and monthly price changes at individual stock and industry level? (Sector Level) 

Calculate daily and monthly price changes by industry and determine distribution of standard deviation

#### Task 4: 

Third question:If we are to select a stock by industry at random, what are the chances that it has positive return?

Calculate percentage of stocks with positive return by industry over time.

Which industry should we invest in for the most return? 

If we pick the top 5 expensive stock in this industry, what is the monthly return over the period for these 5 stocks? 

Is there any Seasonality for the monthend close price? 

Is there autocorrelation of the monthend close prices of each of the 5 stocks? 

Visualize the correlation between the returns of all pairs of stocks.

#### Task 5:

Fourth question: Is there a linear correlation between volatility of prices to overall return?

Calculate correlation of stock returns to price volatility by industry over time.

#### Task 6:

Fifth question:Is there a correlation between days of loss until a day of positive return?

Calculate days of loss until positive return and chi square of dataset to determine if they are dependent

#### Task 8: 

Seventh question: Is there seasonality in the data? (sector level does Sector perform welll during certain period)

Find seasonality effect using lag plot or autocorrelation functions.

### To be Filled:

* **Comments:**

* **Codes:**

* **Conclusion:**

---
# Part 4 - Coronavirus Effect on S&P 500 Stock Prices

#### Task 7:

Sixth question: Can we measure or see the coronavirus effect on S&P 500 stock prices?

Find the coronavirus start date from the "https://github.com/CSSEGISandData/COVID-19" source, prepare trend analysis or graphs and compare it with previous periods. (Jan- Now） ( Compare with previous year)

### To be Filled:

* **Comments:**

* **Codes:**

* **Conclusion:**

---
# Part 5 - Stock Price Forecasting and Prediction

#### Task 8:

Some other predition model analysis?

### To be Filled:

* **Comments:**

* **Codes:**

* **Conclusion:**

---
# Part 6 - Conclusion

### To be Filled:

* **Conclusion:**

## References

### To be Filled:

* **References:**